%h1 Name of business | rating
%h5 Category
image


%h5 about
%p % Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat impedit ipsum iste necessitatibus labore magnam cumque voluptatibus sunt maxime distinctio velit maiores hic doloremque quibusdam nesciunt aliquid aperiam, cupiditate sapiente!

Reviews


- 4.times do
  .review
    %h4 Name of restaurant | rating
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dolores quasi aspernatur dolore explicabo blanditiis, iste corporis praesentium et a recusandae excepturi, repudiandae eum porro, mollitia, placeat optio veniam necessitatibus.

