%h1 Businesses

= 5.times do 
  .business_preview
    %h4 
      %a{:href => "#"} Business name | Rating
    %p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum atque necessitatibus provident mollitia quia voluptas nisi nulla aperiam tempora. In deserunt excepturi officiis porro, eveniet id consequatur nostrum at ipsum!
    %a{:href => "#"} Mexican