%h1 Recent Reviews

- 4.times do
  .review
    %h4 Name of restaurant | rating
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dolores quasi aspernatur dolore explicabo blanditiis, iste corporis praesentium et a recusandae excepturi, repudiandae eum porro, mollitia, placeat optio veniam necessitatibus.

