%h1 Sign up

%form.sign_up{:action => "#"}
  %input.form-control{:type => "email", :name => "email", :placeholder => "Email"}
  %input.form-control{:type => "password", :name => "password", :placeholder => "password"}
  %input.btn.btn-primary{:type => "submit", :value => "Sign Up"}/
